.fs-base {
  font-size: $font-size-body;
}

.fs-100 {
  font-size: $font-size-100;
}

.fs-200 {
  font-size: $font-size-200;
}

.fs-400 {
  font-size: $font-size-400;
}

.fs-500 {
  font-size: $font-size-500;
}

.fs-600 {
  font-size: $font-size-600;
}

.text-center {
  text-align: center;
}
