.article {
  margin-top: var(--space-8);
  @include breakpoint(large) {
    margin-left: var(--space-8);
  }

  h1 {
    --width: 30ch;
  }

  h3,
  p,
  img {
    --flow-space: var(--space-4);
  }

  h2 {
    --flow-space: var(--space-6);
  }

  h1 + p,
  h3 + p,
  ul + p,
  ul {
    --flow-space: var(--space-2);
  }

  h2,
  h3,
  p {
    --width: 100%;
  }

  ul {
    list-style-position: inside;
  }
}
