<section class="our-news" aria-labelledby="news-title">
  <div class="wrapper flow">
    <header class="[ headline ] [ flex-space ]">
      <h2 class="fw-medium" id="news-title">{{ newsData.headline }}</h2>
      <div class="line"></div>
    </header>
    {% include "../components/news-cards.njk" %}
  </div>
</section>
