<div class="supporters" aria-labelledby="supporters-title">
  <div class="[ headline ] [ flex-space ]">
    <p class="title" id="supporters-title">our Supporters</p>
    <div class="line"></div>
  </div>
  <div class="[ supporters__logo ] [ auto-grid ] [ gap-8 margin-block-start-4 ]">
    <img src="../asset/img/logos/Logo.png" alt="" />
    <img src="../asset/img/logos/Logo-1.png" alt="" />
    <img src="../asset/img/logos/Logo-2.png" alt="" />
    <img src="../asset/img/logos/Logo-3.png" alt="" />
    <img src="../asset/img/logos/Logo-4.png" alt="" />
    <img src="../asset/img/logos/Logo-5.png" alt="" />
  </div>
</div>
