---
title: what we do
layout: layouts/base.njk
bodyClass: what-we__do
eleventyNavigation:
  key: what we do
  order: 300
---

<!--=============== HERO ===============-->
<section class="hero" aria-labelledby="{{ heroes.whatWeDo.idTitle }}">
  <div class="[ wrapper ] [ flex-space-column-responsive ]">
    <div class="[ post ] [ flow ]">
      <p class="title title--line" id="{{ heroes.whatWeDo.idTitle }}">
        {{ heroes.whatWeDo.title }}
      </p>
      <h1>{{ heroes.whatWeDo.heading }}</h1>
      <p class="flow-space-4">{{ heroes.whatWeDo.description }}</p>
    </div>
    <div>
      <img src="{{ heroes.whatWeDo.image }}" alt="" />
    </div>
  </div>
</section>
<!--=============== ENVIRONMENT SECTION  ===============-->
<section
  class="[ environment ] [ bg-primary ] [ region ]"
  aria-labelledby="{{ featureTwo.headline.idHeading }}"
>
  <div class="wrapper flow">
    <header class="headline">
      <h2 class="w-11/11" id="{{ featureTwo.headline.idHeading }}">
        {{ featureTwo.headline.heading}}
      </h2>
    </header>
    <!--=============== FEATURE ===============-->
    <div class="feature">
      <ul class="[ feature__list ] [ auto-grid ] [ gap-row-6 gap-col-7 ]" role="list">
        {% for item in featureTwo.items %}
        <li class="feature__item">
          <div class="feature__icon">
            <span class="{{ item.icon }}" aria-hidden="ture"></span>
          </div>
          <article>
            <h3>{{ item.heading }}</h3>
            <p>{{ item.description }}</p>
          </article>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
<!--=============== PROJECTS ===============-->
<section class="projects" aria-labelledby="{{ projects.post.idTitle }}">
  <div class="wrapper flow">
    <header class="[ post ] [ flow ]" data-layout="center">
      <p class="title" id="{{ projects.post.idTitle }}">{{ projects.post.title }}</p>
      <h2 class="flow-space-2">{{ projects.post.headingTwo }}</h2>
    </header>
    {% include "./_includes/partials/components/project-cards.njk" %}
  </div>
</section>
<!--=============== CTA ===============-->
{% include "./_includes/partials/blocks/cta-section.njk" %}
<!--=============== NEWS ===============-->
{% include "./_includes/partials/blocks/news.njk" %}
<!--=============== EVENTS ===============-->
{% include "./_includes/partials/blocks/events.njk" %}
